doctype html
html
    head
        title A useful app
        block sctripts
            link(rel="stylesheet" href="/public/styles/main.css")
    body
        block content
        block fotter
            footer
                p A useful app footer